.App2 {
  display: flex;
  align-items: center;
  justify-content: center;

  main {
    padding: 24px;
    max-width: 996px;
    margin: auto;
    padding-right: 0;

    h2 {
      margin-bottom: 3rem;
    }

    input[type="radio"] {
      //background: rgba(242, 242, 242, 0.5);
      //border: none;
      //border-bottom: 1px solid black;
      ////border-radius: 3px;
      //font-size: 15px;
      //height: 30px;
      //margin-top: 7px;
      margin-bottom: 2.5rem;
      //padding: 6px 4px;
      //outline: none;
      //width: 250px;
    }

    h5 {
      font-size: 1.1rem;
      margin: 0 0 0.5rem 0;
    }
    section {
      display: block;
      margin-bottom: 4rem;
      //flex-wrap: wrap;
      .MuiRadio-colorPrimary {
        color: rgb(255, 152, 0);
      }
      .pocet-radio-container {
        display: flex;
        justify-content: space-between;

        input[type="radio"] {
          margin-right: 0.5rem;
          &label {
            margin-right: 2rem;
          }
        }
      }
    }
  }
  form {
    max-width: 996px;
    .button-wrapper {
      display: flex;
      width:100%;
      justify-content: flex-end;

      button{
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: rgb(255, 152, 0);
        border: none;
        border-radius: 3px;
        box-shadow: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        min-height: 54px;
        line-height: 38px;
        margin-top: 1em;
        margin-right: 20px;
        width: 150px;
        outline: none;

        &:focus {
          box-shadow: 0 0 0px 2px rgba(255, 152, 0, 0.5);
        }
        &:hover {
        background-color: rgba(255, 152, 0, 0.8);
        }
        h3 {
          margin: 0.5rem
        }
      }
    }
  }
  .administrator-form-wrapper {
    display: flex;
    .input-and-label-wrapper {
      margin-right: 2rem;
      width: fit-content;
      input[type="text"] {
        background: rgba(242, 242, 242, 0.5);
        border: none;
        border-bottom: 1px solid black;
        //border-radius: 3px;
        font-size: 15px;
        height: 30px;
        margin-top: 7px;
        margin-bottom: 20px;
        padding: 6px 4px;
        outline: none;
        width: 250px;

        &:hover {
          border-bottom : 1px solid rgb(255, 152, 0);
        }
      }

      h5 {
        margin: 0;
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: normal;
        text-transform: uppercase;
      }
    }
  }
}
.MuiFormGroup-root {
  display: flex;
}
