.App0 {
  display: flex;
  justify-content: center;
  align-items: center;
  main {
    background-image: url('../assets/bg.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100vw;
    height:100vh;
    background-position: center;


  form {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 0px 2px 0px;
    box-sizing: border-box;
    height: fit-content;
    min-width: 320px;
    padding: 21px 64px 34px;
    width: 438px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;

    img {
      margin-bottom: 2rem;
    }

    input[type="text"] {
      background: rgba(242, 242, 242, 0.5);
      border: none;
      border-bottom: 1px solid black;
      //border-radius: 3px;
      font-size: 15px;
      height: 30px;
      margin-top: 7px;
      margin-bottom: 20px;
      padding: 6px 4px;
      outline: none;
      width: 350px;

      &:hover {
        border-bottom: 1px solid rgb(255, 152, 0);
      }
    }

    h5 {
      margin: 0;
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: normal;
      text-transform: uppercase;
    }

    button {
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: rgb(255, 152, 0);
      border: none;
      border-radius: 3px;
      box-shadow: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      min-height: 54px;
      line-height: 38px;
      margin-top: 1em;
      //margin-right: 20px;
      outline: none;

      width: fit-content;

      &:focus {
        box-shadow: 0 0 0px 2px rgba(255, 152, 0, 0.5);
      }

      &:hover {
        background-color: rgba(255, 152, 0, 0.8);
      }

      h3 {
        margin: 0.5rem;
      }
    }
  }
  }
}