.App {
  display: flex;
  align-items: center;
  justify-content: center;

  main {
    padding: 24px;
    max-width: 835px;
    margin: auto;

    h2 {
      margin-bottom: 2rem;
    }

    input[type="text"] {
      background: rgba(242, 242, 242, 0.5);
      border: none;
      border-bottom: 1px solid black;
      //border-radius: 3px;
      font-size: 18px;
      height: 30px;
      margin-top: 7px;
      margin-bottom: 20px;
      padding: 6px 4px;
      outline: none;
      width: 250px;

      &:hover {
        border-bottom : 1px solid rgb(255, 152, 0);
      }
    }

    h5 {
      margin: 0;
        margin-top: 1rem;
        font-size: 0.9rem;
        font-weight: normal;
        text-transform: uppercase;
    }
    section {
      display: flex;
      margin-bottom: 4rem;
      flex-wrap: wrap;

      div {
        input[type="text"] {
          margin-right: 20px;
        }
      }
    }
    .button-wrapper {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      button {
        display: flex;
        font-weight: bold;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        background-color: rgb(255, 152, 0);
        border: none;
        border-radius: 3px;
        box-shadow: none;
        color: rgb(255, 255, 255);
        cursor: pointer;
        min-height: 54px;
        line-height: 38px;
        margin-top: 1em;
        margin-right: 20px;
        outline: none;

        width: 100px;

        &:focus {
          box-shadow: 0 0 0px 2px rgba(255, 152, 0, 0.5);
        }
        &:hover {
          background-color: rgba(255, 152, 0, 0.8);
        }

        h3 {
          margin: 0.5rem;
        }
      }
    }
    .plus-button-wrapper {
      display: flex;
      justify-content: center;
      margin-top: -2rem;
      margin-bottom: 5rem;
      button {
        border-radius: 3px;
        padding: 0.5rem;
outline: none;
        border: 1px solid rgba(0,0,0,0.1);

        &:focus {
          box-shadow: 0 0 0px 2px rgba(255, 152, 0, 0.5);
        }

        &:hover {
          background-color: rgba(255, 152, 0, 0.2);
        }
      }
    }
  }
}
