.App3 {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    margin-bottom: 3rem;
  }

  main {
    padding: 24px;
    max-width: 835px;

    h2 {
      margin-bottom: 2rem;
    }

    input[type="text"] {
      background: rgba(242, 242, 242, 0.2);
      border: none;
      border-bottom: 1px solid rgb(255, 152, 0);
      //border-radius: 3px;
      font-size: 18px;
      height: 30px;
      margin-top: 7px;
      margin-bottom: 20px;
      padding: 6px 4px;
      outline: none;
      width: 250px;
    }

    h5 {
      margin: 0;
      margin-top: 1rem;
      font-size: 0.9rem;
      font-weight: normal;
      text-transform: uppercase;
    }
    section {
      display: flex;
      margin-bottom: 2rem;
      flex-wrap: wrap;

      div {
        input[type="text"] {
          margin-right: 20px;
        }
      }
    }
    article {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      section {
        margin-right: 4rem;
        display: flex;
        flex-direction: column;
        h2 {
          margin-bottom: 1rem;
        }
        h4 {
          font-weight: normal;
          text-transform: uppercase;
          margin: 0;
        }
      }
    }
    .text-area-wrapper {
      flex-direction: column;
      align-items: center;
      h2 {
        margin-top: 5rem;
      }
      textarea {
        width: 70%;
        height: 200px;
        margin-bottom: 2rem;

        &:hover,&:focus {
          outline:none;
          border-radius: 3px;
          border : 1px solid rgb(255, 152, 0);
        }
      }
      input[type="text"] {
        width: 50%;
        margin-bottom: 3rem;
      }
    }
  }
  .button-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;

    button {
      display: flex;
      font-weight: bold;
      text-transform: uppercase;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      background-color: rgb(255, 152, 0);
      border: none;
      border-radius: 3px;
      box-shadow: none;
      color: rgb(255, 255, 255);
      cursor: pointer;
      min-height: 54px;
      line-height: 38px;
      margin-top: 1em;
      //margin-right: 20px;
      width: fit-content;
      outline: none;

      &:focus {
        box-shadow: 0 0 0px 2px rgba(255, 152, 0, 0.5);
      }

      &:hover {
        background-color: rgba(255, 152, 0, 0.8);
      }

      h3 {
        margin: 0.5rem;
      }
    }
  }
}
