.App-header {
  height: 76px;
  z-index: 1201;
  box-shadow: none;
  transition: width 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms,
    margin 195ms cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  background-color: #ff9600;
  display: flex;
  align-items: center;

  .App-logo {
    width: 147px;
    height: 40px;
    text-align: left;
    padding-left: 24px;
  }
}
